<div class="overflow-hidden bg-grey-50 py-16 lg:py-24" id="response-div">
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-base font-semibold text-indigo-600 tracking-wide uppercase">THANK YOU</h2>
      <p class="mt-2 text-3xl font-extrabold text-grey-900 sm-text-4xl">
        We'll be in touch soon
      </p>
      <p class="mt-2 text-xl text-grey-500">
        C'est beau HTMX avec SYMFONY non ?
      </p>
    </div>
  </div>
</div>
